
body{
  background: #dce9fc;
  font-family: "Cerebri-Sans",Helvetica,Arial,sans-serif;
}

.App {
  padding: 60px 0 100px;
  max-width: 960px;
  margin: 0 auto;
}
.Name{
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  line-height: 1.5;
}

a{
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.App-header{
  margin: 30px 0;
}
.App-footer{
  text-align: center;
  margin: 30px 0;
}